{% extends 'base.html' %}
{% block content %}

<div class="container py-5">

    <!-- Assign Lead Card -->
    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0">Assign New Lead</h5>
        </div>
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                
                <div class="row g-4">
                    <div class="col-md-6">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                    </div>
                    <div class="col-md-6">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <div class="col-md-6">
                        {{ form.phone.label_tag }}
                        {{ form.phone }}
                    </div>
                    <div class="col-md-6">
                        {{ form.address.label_tag }}
                        {{ form.address }}
                    </div>
                    <div class="col-md-12">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                    <div class="col-md-4">
                        {{ form.Priority.label_tag }}
                        {{ form.Priority }}
                    </div>
                    <div class="col-md-4">
                        {{ form.assigned_to.label_tag }}
                        {{ form.assigned_to }}
                    </div>
                    <div class="col-md-4">
                        {{ form.deadline.label_tag }}
                        {{ form.deadline }}
                    </div>
                </div>

                <div class="mt-4 text-end">
                    <button type="submit" class="btn btn-success">Assign Lead</button>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}
